.quiz-page{
    display: flex;
    flex-direction: row;
    margin-top: 8%;
    margin-left: 5%;
    margin-right: 5%;
    z-index: 2;
    position: relative;

}
.question-section{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-left: 10%;

}
.answer-section{
    display: flex;
    flex-direction: column;
    margin-left: 43%;
    margin-top: 3%;
}
.option-button{
    width: 350px;
    border-radius: 10px;
    background-color:rgb(59, 77, 102); 
    color: white;
    border: 1px solid transparent;
    height: 58px;
    padding: 3px;
    margin-bottom: 3%;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    font-family: Rubik;
}
.answer-section span{
    margin-right:10px;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid transparent;
    color: rgb(49,82,61);
    width: 33px;
    height: 30px;
    margin-top: 3%;
    font-family: Rubik;
    font-weight: 1000;
}
.answer-section p{
margin-top: 3%;
margin-left:0%;
position: relative;
font-weight: bolder;
}
.option-button img{
    transform: scale(0.7);
    margin-left: auto;
}
.option-button:focus{
    border: 2px solid rgb(167, 41, 245);
}
.option-button:focus span{
    background-color: rgb(167, 41, 245);
    color:white;
}
.option-button:hover:not(:focus) span{
color: rgb(167,41,245);
transform: scale(1.1);
}
.option-button.selected.correct{
    border: 2px solid rgb(38,215,130);
}
.option-button.selected.wrong{
    border: 2px solid rgb(238,84,84);
}

.question-count{
    font-family: Rubik-Italic;
    color:rgb(148, 183, 248);
}
.question-text{
    font-family: Rubik;
    font-weight: 1000;
    font-size: 30px;
    margin-top: 3%;
    width:35%;
    position: fixed;
}
@font-face {
    font-family: 'Rubik-Italic';
    src: url(../../public/fonts/Rubik-Italic-VariableFont_wght.ttf) format('truetype');
    font-weight: 100; /* Adjust weight as needed */
    font-style: normal; /* Adjust style as needed */
}
  @font-face {
    font-family: 'Rubik';
    src: url(../../public/fonts/Rubik-VariableFont_wght.ttf) format('truetype');
    font-weight: 100; /* Adjust weight as needed */
    font-style: normal; /* Adjust style as needed */
}
.submit-button{
    background-color: rgb(167,41,245);
    color: white;
    font-family: Rubik;
    font-weight: 1000;
    border: 1px solid transparent;
    height: 55px;
    padding: 3px;
    margin-bottom: 3%;
    width: 350px;
    border-radius: 10px;
    font-size: larger;
}
.submit-button:hover{
    background-color: rgb(210, 148, 248);
}
*{
    box-sizing: border-box;
}
