.container{
    display: flex;
    flex-direction: row;
    z-index: 2;
    margin-top: 10%;
    margin-left: 3%;
    margin-right: 5%;
}
.topic{
    display: flex;
    flex-direction: column;
    font-family:Rubik;
    position: relative;
    padding: 0 5%;
}
.topic button{
    width: 380px;
    border-radius: 16px;
    display:flex;
    background-color:rgb(59, 77, 102); 
    color: white;
    border: 1px solid transparent;
    height: 70px;
    margin-bottom: 4%;
    flex-direction: row;
    align-items: center;
    padding: 3px;
    font-family: Rubik;
    font-weight: 800;
}
.topic button:hover {
  border: 2px solid rgb(167,41,245);
}
.topic button:hover img{
  transform: scale(1.1);
}
.topic img{
    background-color: white;
    border-radius: 10%;
    height: 40px;
    margin-left: 10px;
    width: 40px;
    padding: 5px 8px;
    object-fit: contain;
}
.topic span{
    margin-left: 6%;
    font-size: 20px;
}
.Home{
    margin-left: 10%;
    width: 40%;
}
.Home h1{
    font-size: 45px;
    font-family: Rubik;
    font-weight: 100;
  }
  .Home span{
    font-weight: 1000;
  }
  @font-face {
    font-family: 'Rubik-Italic';
    src: url(../../public/fonts/Rubik-Italic-VariableFont_wght.ttf) format('truetype');
    font-weight: 100; /* Adjust weight as needed */
    font-style: normal; /* Adjust style as needed */
  }
  @font-face {
    font-family: 'Rubik';
    src: url(../../public/fonts/Rubik-VariableFont_wght.ttf) format('truetype');
    font-weight: 100; /* Adjust weight as needed */
    font-style: normal; /* Adjust style as needed */
  }
  
  .Home p{
    font-family: Rubik-Italic;
    font-size: 14px;
    color: rgb(171, 193, 225);
    margin-top: 5%;
  }
  *{
    box-sizing: border-box;
    font-family: Rubik;
  }