body {
  font-family: Rubik;
  background-color: rgb(47, 61, 82);
  color: white;
  font-weight: 100;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Rubik';
  src: url('../public/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
  font-weight: 100; /* Adjust weight as needed */
  font-style: normal; /* Adjust style as needed */
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 1.5px;
}
/* index.css */
.pattern-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none; /* Prevent interaction with SVG pattern */
  z-index: 1;
}

.pattern-overlay img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure SVG pattern covers the entire viewport */
  opacity: 1; /* Adjust opacity as needed */
  z-index: 1;
}


